@page "/info"
<link href="css/MyStyles/MyStyles.css" rel="stylesheet" />
<h3 id="infoheader">Kontaktné informácie</h3>

<hr>
<hr />

<div class="infoallinment">
    <p class="infocomponents">Administrátor: </p>
    <p class="nexttoinfocomponents">Kevin Laurinčík</p>
</div>
<div class="infoallinment">
    <p class="infocomponents">E-mail: </p>
    <p class="nexttoinfocomponents">laurincik@stud.uniza.sk</p>
</div>
<div class="infoallinment">
    <p class="infocomponents">Tel.číslo: </p>
    <p class="nexttoinfocomponents">+421 918 303 383</p>
</div>
