@page "/"
<link href="css/MyStyles/MyStyles.css" rel="stylesheet" />

<h1 id="introductionheader">Vitajte</h1>
<p id="introductiontext">Táto webová aplikácia je zameraná na prácu s aplikačnými logmi, analýzu dát, ktoré nám aplikačné logy poskytujú, a taktiež následnú interpretáciu dát v rôznych formách.</p>

<hr>
<hr />
<h3>Čo obsahujú aplikačné logy ? </h3>
<p>Aplikačné logy obsahujú informácie o všetkých akciách a zmenách v danom sledovanom systéme.</p>


<hr>
<hr />
<h3>Na čo sú užitočné aplikačné logy ? </h3>
<p>
    Môžeme z nich zistiť kto a kedy urobil akú konkrétnu akciu v systéme.
    Dáta z logu nám umožňujú nájsť a následne odstrániť chyby v aplikáciách. Odhalovať bezpečnostné incidenty a predchádzať únikom dát.
</p>


<hr>
<hr />
<h3>Aká je štruktúra aplikačného logu ? </h3>
<ul type="square" class="textunderline">
    <li>ID uživateľa alebo systému</li>
    <li>Čas zmeny alebo akcie</li>
    <li>Popis zmeny alebo akcie</li>
    <li>Nejaké bonusové dodatočné informácie k zmene alebo akcií</li>
</ul>

<hr>
<hr />
<h5>Viac informácií o aplikačných logoch môžete nájsť na: <a href="https://www.sumologic.com/glossary/log-analysis/">ENGInfo</a></h5>
