<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Vitajte, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Odhlásiť sa</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrácia</a>
        <a href="Identity/Account/Login">Prihlásenie</a>
    </NotAuthorized>
</AuthorizeView>
